<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="D:\Dropbox\Projects\Sber2019\SBH2019\FSO.SberDevDashboard\FSO.SDD.NativeWebApi\bin\Debug\netcoreapp3.0\FSO.SDD.NativeWebApi.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess" />
    </system.webServer>
  </location>
</configuration>