<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Access-Control-Allow-Origin" value="*" />
          <add name="Access-Control-Allow-Headers" value="Content-Type" />
          <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
          <add name="Access-Control-Allow-Credentials" value="true" />
        </customHeaders>
      </httpProtocol>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="D:\Dropbox\Projects\Sber2019\SBH2019\FSO.SberDevDashboard\FSO.SDD.NativeWebApi\bin\Debug\netcoreapp3.0\FSO.SDD.NativeWebApi.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess" />
    </system.webServer>
  </location>
</configuration>